.Slider{
    display:flex;
    align-items:center;
    margin:20px;
    opacity:0;
    transform: scale(85%);
    transition: 2s;
}

.slider--zoom{
    opacity:1;
    transform:scale(100%);
    transition:2s;
}
.Slider_image{
    width:60%;
}
.Slider-content{
    flex:1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.Slider-title{ 
    text-align: center;
}
@media screen and (max-width: 800px){
    .Slider{
        flex-direction: column;
        background-color: rgb(236,236,236);
    }
    .Slider__image{
        width: 100%;
    }
}